<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring01_springstart:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring01_springstart_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring01_springstart/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring01_springstart" />
        </element>
      </element>
    </root>
  </artifact>
</component>